.App {
  text-align: center;
}

.logo{
  height: 60px;
  width: 60px;
}

.company-color {
  color: rgb(14, 61, 100);
  font-size: xx-large;
}

.navbar-head{
  color: green;
  font-size: xx-large;
  
}

.table-text{
  font-size: x-large;
  text-align:center;
}